# Umut Zafer SARA data.table Assignment

## 1) Loading Packages and Checking Dataset

First I loaded packages.

In [ ]:
library(datasets)
library(data.table)
library(modelr)
library(DT)

I checked the dataset by using head and str functions.

In [ ]:
head(heights)

In [ ]:
str(heights)

I made the object a data.table.

In [ ]:
heights <- copy(heights)
setDT(heights)

In [ ]:
class(heights)

Before the making operations, I converted the imperial system to metric system to make analysis easier.

In [ ]:
heights$height <- heights$height*2.54
heights$weight <- heights$weight*0.453592

In [ ]:
head(heights)

## 2) i Operations

I wanted to examine divorced women who were shorter than 161.5 centimeters (the average female height in the US) because I thought they might be discriminated.

In [ ]:
heights[height < 161.5 & marital == 'divorced' & sex == 'female']

## 3) j Operations

Some studies claim that there is a link between physical attractiveness and income. This dataset can be used to understand this relationship. For this, I calculated the body mass index from the dataset.

In [ ]:
heights[, .(income, height, weight, bmi = (weight/(height/100)^2))]

I added this column to the dataset using the ":=".

In [ ]:
heights[, bmi := (weight/(height/100)^2)]

In [ ]:
head(heights)

I also thought that income per year of education could be a valuable indicator, so I calculated and added it as well.

In [ ]:
heights[, .(income, education, ipe = income/education)]

In [ ]:
heights[, ipe := income/education]

In [ ]:
head(heights)

## 4) by Operations

In this section, I wanted to analyze the maximum, minimum, and average incomes based on sex and marital status.

In [ ]:
heights[, .(max_in = max(income), min_in = min(income), avg_in = mean(income)), by = c("marital", "sex")]

I thought the 0 values ​​were negatively affecting the analysis so I removed them and reanalyzed.

In [ ]:
heights[income != 0, .(max_in = max(income), min_in = min(income), avg_in = mean(income)), by = c("marital", "sex")]

## 5) dcast and melt Operations

In this section I used dcast and melt operations on previous analysis.

In [ ]:
by_marital_and_sex <- heights[income != 0, .(max_in = max(income), min_in = min(income), avg_in = mean(income)), by = c("marital", "sex")]

In [ ]:
by_marital_and_sex

In [ ]:
by_marital_and_sex_wide <- dcast(by_marital_and_sex, sex ~ marital, value.var = "avg_in")

In [ ]:
by_marital_and_sex_wide

In [ ]:
melt(by_marital_and_sex_wide, id.vars = "sex", variable.name = "marital", value.name = "avg_in")